#modal3{
    background-color: #FAF6EA;
    border-radius: 4px;
    color: #c24244;
    border: 1px solid #c24244;
    padding: 2em;
}

.ghost-roun {
    background: #0a4275;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 15px;
    color: #FAF6EA;
    padding: 7px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.ghost-roun:hover {
    background: linear-gradient(to right, #E49323, #c24244);
    color: white;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}