<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('assets/fondo2.jpeg');
          height: 560px;
          border-radius: 30px;">
    </div>
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: -430px;
    background-color: transparent;
    backdrop-filter: blur(5px);">
          <div style="align-items:center;margin-top: 20px"><img style="border-radius: 100%; height: 285px; width: 285px;" src="assets/icono.jpeg"></div>
      <div class="card-body py-4 px-md-5">
        <h2 style="color: #FAF6EA;letter-spacing: 3px;">Sunset</h2>
      </div>
    </div>
</section>
<br>
<div class="ejemplo">
  <div class="thum"></div>
  <div class="conten">
    <h3>Sunset</h3>
    <h2>consejos y tutoriales paso a paso para tu pagima web</h2>
    <br>
    <p>Un negocio puede obtener muchos beneficios de una página como ganar visibilidad para mostrar su oferta o funcionar como un canal efectivo para captar leads e impulsar diversas estrategias. <br></p>
  </div>
</div>
<br>
<p style="width: 100%;border: 1px solid #0a4275"></p>
<br>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/font1.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Objetivos</h5>
        <p>forma tus objetivos para lograr tu objetivo.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/font2.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Muestra tu creatividad</h5>
        <p>ten consejos para lograr tus metas.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/font3.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Estructura</h5>
        <p>ordena tus ideas para tu paguina web.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>