body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
.navbar-brand {
  letter-spacing: 3px;
  color: #E49323;
}

.navbar-brand:hover {
  background-color: #c24244;
  color: #FAF6EA; 
  border-radius: 1px;
}
.navbar-scroll .nav-link{
  color: #c24244;
  border-left: 1px solid #E49323;
}
.navbar-scroll .nav-link:hover{
  background-color: #E49323;
  color: #FAF6EA;
}

.navbar-scrolled {
  background-color: #E49323;
}
.navlinks {
  display: none;
  margin-top: 5px;
  padding: 10px;
  transition: 0.4s;
  border-top: 1px solid #E49323;
}
