<div class="total">
  <div class='container'>
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Sucripcion</div>
        <div class='subtitle'>suscribase para recibir todas las actualizaciones, noticias y notificaciones</div>
        <div class='input-fields'>
          <input type='text' placeholder='nombre' class='input-line full-width'>
          <input type='text' placeholder='apellido' class='input-line full-width'>
          <input type='email' placeholder='Email' class='input-line full-width'>
        </div>
        <div class='spacing'><input class="form-check-input me-2" type="checkbox"id="form2Example33" checked />recibir notificaiones</div>
        
        <div><button type="submit" class='ghost-round full-width'>suscribirse</button></div>
      </div>
    </div>
  </div>
</div>