<br><br><br>
<div class="parr"><h2>repositorio digital o virtual</h2><p>
    Un repositorio digital o virtual es un sitio web donde se almacena información digital de empresas o instituciones; los archivos almacenados pueden ser accedidos por quienes lo permita la institución o el administrador. El formato de la información almacenada puede variar según el repositorio, desde presentaciones, imágenes, videos, documentos, entre otros, pueden ser utilizados.
</p>
    <h2>¿Cómo funciona un repositorio?</h2><p>
Utilizado correctamente, un repositorio ofrece varias ventajas. GitHub es un gran ejemplo de ello. Una vez que hayas instalado y configurado GitHub, puedes utilizar la intuitiva interfaz de usuario para asignar y procesar tareas. Los cambios listados se realizan mediante los comandos commit y pull. De este modo, un responsable de equipo puede hacer un seguimiento de los pasos de progreso individuales y los miembros pueden seguir el proyecto hasta el más mínimo detalle. Para saber más sobre GitHub, echa un vistazo a nuestro tutorial de Git.
</p></div>
<div>
    <section class="contenido">
          <div class="mostrador" id="mostrador">
              <div class="fila">
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="assets/GitHub.png" alt="">
                      </div>
                      <p class="descripcion">GitHub</p>
                      
                  </div>
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="assets/jsbin.png" alt="">
                      </div>
                      <p class="descripcion" id>Jsbin</p>
                      
                  </div>
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="assets/driveGogle.png" alt="">
                      </div>
                      <p class="descripcion">Google Drive</p>
                      
                  </div>
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="assets/dropbox.jpg" alt="">
                      </div>
                      <p class="descripcion">Dropbox</p>
                      
                  </div>
              </div>
              <div class="fila">
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="assets/jsf.png" alt="">
                      </div>
                      <p class="descripcion">Jsfiddle</p>
                      
                  </div>
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="assets/Node.png" alt="">
                      </div>
                      <p class="descripcion">Node js</p>
                      
                  </div>
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="assets/onedrive.png" alt="">
                      </div>
                      <p class="descripcion">Onedrive</p>
                      
                  </div>
                  <div class="item" onclick="cargar(this)">
                      <div class="contenedor-foto">
                          <img src="assets/codepen.png" alt="">
                      </div>
                      <p class="descripcion">Codepen</p>
                      
                  </div>
              </div> 
          </div>
      </section>
  </div>
